@use '../abstract' as *
  
.information
  padding: 2.5rem 1.5rem
  display: flex
  flex-flow: column wrap
  text-align: center

  &__header 
    font-family: 'Inter'
    font-size: 1.75rem
    font-weight: 700
    line-height: 2rem
    margin-block-end: 1.6rem
    letter-spacing: .25px
  
  &__highlight
    color: $softviolet
  
  &__content
    color: $white-op-75
    line-height: 1.70125rem
    margin-block-end: 3rem
    padding-inline: .75rem
  
  &__stats
    margin-block-start: auto
    display: flex
    flex-flow: column wrap
    padding-block-end: .25rem
    gap: 2rem
    
    > * 
      flex: 0 1 100%

@media (min-width: 768px) 
  .information
    padding: 5rem 4.125rem 4.125rem 4.8rem
    text-align: left

    &__header, &__content 
      padding-inline-end: 3.25rem

    &__header 
      font-size: 2.375rem
      line-height: 2.85rem

    &__content
      margin-block-end: 0
      padding-inline-start: 0

    &__stats
      flex-flow: row nowrap
      gap: 4.125rem

      > * 
        flex-basis: auto
